body{
	background: #d5ecf5;
background: -moz-linear-gradient(top, #d5ecf5 0%, #ace2f6 50%, #d5ecf5 100%);
background: -webkit-linear-gradient(top, #d5ecf5 0%,#ace2f6 50%,#d5ecf5 100%);
background: linear-gradient(to bottom, #d5ecf5 0%,#ace2f6 50%,#d5ecf5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ecf5', endColorstr='#d5ecf5',GradientType=0 );
}
.tabla{
	box-sizing: border-box; 
	padding: all;
	margin-left: 10px;

}

.caja{
	width: 500px;
}
.usr{
	padding-top: 5px;
	padding-bottom: 5px; 
	height: 50px;
}
#icon {
  width: 50px;
  height: 50px;
}

.logeo{
	background: red;
}

@media(min-width: 360px){
	#cancelar{
	margin-left: 50%;
}

@media(min-width: 768px) {
	#cancelar{
	margin-left: 33%;
}
@media(min-width: 1200px) {
	#cancelar{
	margin-left: 33%;	
}


}

th{
	font-size: 12px;
}

@media(min-width: 1200px){

	#infoAlumno{
		margin-left: 33%;
	}
}