RewriteEngine on
RewriteCond %{HTTP_HOST} ^cbta18.000webhostapp.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.cbta18.000webhostapp.com$
RewriteCond %{REQUEST_URI} !proyecto/
RewriteRule (.*) /proyecto/$1 [L]

